
<div class="container">
	  <div class="row">
        <div class="col-lg-12">
	<h2>My Summary</h2>
	<section id="intro" class="dashboard-section">

		<!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#myruns" aria-controls="home" role="tab" data-toggle="tab">My Runs</a></li>
	    <li role="presentation"><a href="#myorders" aria-controls="profile" role="tab" data-toggle="tab">My Orders</a></li>
	  </ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="myruns">

				<!-- My Runs -->
				<div class="container-fluid">
					<!-- <h3> My Runs </h3> --><br>

					<% if !(@runs.nil? || @runs.blank?) %>
						<div class="row">
							<% @runs.each do |run| %>
								<div class="col-xs-12 col-sm-4">

									<div class="list-runs">
										<div class="row">
											<div class="col-xs-4 col-sm-4">
												<%= image_tag "starbucks-coffeetogether.png" %>
											</div><!-- end of first column -->

											<div class="col-xs-8 col-sm-8">
												<div class="row">
													<div class="col-xs-12 col-sm-12">
														<%= run.expired_at.strftime("%b %-d") %>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12 col-sm-12">
														Total Orders: <%= run.orders.count %>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12 col-sm-12">
														<% @total_earn = run.orders.sum("total_run") - run.orders.sum("total_store") %>
														Earned: RM<%= number_with_precision(@total_earn, :precision => 2) %>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12 col-sm-12">
														Run ID: <%= run.id %> <br><%= link_to "View Run", run_path(run) %>
													</div>
												</div>
											</div><!-- end of second column -->
										</div><!-- end of this order row -->	
									</div><!-- end of list-orders class -->

								</div><!-- end of main 1,2,3 columns -->
							<% end %>
						</div><!-- end of main row -->
					<% else %>
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<p> No run yet.<br> Click on 'New Run' to make your first run! </p>
							</div>
						</div>
					<% end %>

					<hr>
					<div class="row">
						<div class="col-xs-12 col-sm-12"> 
							<!-- <button type="button" class="btn btn-default">Default</button> -->
							<%= button_to "New Run", new_run_path, :id => "new-run-btn",
				      :class => "btn btn-primary", :method => :get %>
						</div>
					</div>

				</div>
			</div><!-- end of myruns tab -->

			<div role="tabpanel" class="tab-pane" id="myorders">

				<!-- My Orders -->
				<div class="container-fluid">
					<!-- <h3> My Orders </h3> --><br>

					<% if !(@orders.nil? || @orders.blank?) %>
						<div class="row">
							<% @orders.each do |order| %>
								<div class="col-xs-12 col-sm-4">

									<div class="list-orders">
										<div class="row">
											<div class="col-xs-4 col-sm-4">
												<%= image_tag "starbucks-coffeetogether.png" %>
											</div><!-- end of first column-->

											<div class="col-xs-8 col-sm-8">
												<div class="row">
													<div class="col-xs-12 col-sm-12">
														<%= order.created_at.strftime("%b %-d") %>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12 col-sm-12">
														Runner Name: <%= order.run.user.name %>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12 col-sm-12">
														Amount: <%= number_with_precision(order.total_run, :precision => 2) %>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12 col-sm-12">
														Order ID: <%= order.id %> <br><%= link_to "View Order", run_order_path(order.run, order) %>
													</div>
												</div>
											</div><!-- end of second column -->
										</div><!-- end of this order row -->	
									</div><!-- end of list-orders class -->

								</div><!-- end of main 1,2,3 columns -->
							<% end %>
						</div><!-- end of main row -->
					<% else %>
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<p> No order yet. </p>
							</div>
						</div>
					<% end %>

				</div>
			</div><!-- end of myorders tab -->

		</div><!-- tabpanel-->

	</section>

	            </div>
      </div>
      
</div>

