
<div class= 'container'>
  <div class= 'row'>
  	<div class= 'col-md-6 col-md-offset-3'>
  		<div class= 'text-center'><h3><%= yield(:header) %></h3></div>
		<%= bootstrap_form_for(@run) do |f| %>
			<%= f.collection_select(:store_id, Store.all, :id, :name) %>
			<%= f.select :day, ["Today", "Tomorrow"], selected: "Today" %>
			<%= f.time_select :expired_at, minute_step: 15, selected: Time.now %>
			<%= f.text_field :remaining, value: 10, label: "Max orders to take" %>
			<%= f.submit yield(:submit), class: 'btn btn-primary' %>
		<% end %>
	</div> 
  </div>
</div>
