<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <div class="col-lg-12" style="background-color: rgba(0,0,0,0.2);"> -->
        <div class="intro-message">
          <h1>Coffee Together</h1>
          <h3>Together We Get Caffeinated</h3>
          <!-- <hr class="intro-divider"> -->
          <!-- <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
    <!-- /.container -->
</div>

<!-- Page Content -->
<a  name="services"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <!-- <hr class="section-heading-spacer"> -->
        <div class="clearfix"></div>
        <h2 class="section-heading">Be a RUNNER now & <br>DELIVER coffee to your friends...</h2>
        <p class="lead">
          <%= link_to "Register", new_user_registration_path %> and be part of our community<br><br>
          Step 1: Create a <%= link_to "New Run", new_run_path %><br>
          Step 2: Broadcast your run and invite friends to order<br>
          Step 3: Make your coffee run and deliver! 
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="../../assets/coffeebtm1-beans.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <!-- <hr class="section-heading-spacer"> -->
        <div class="clearfix"></div>
        <h2 class="section-heading">COFFEE LOVERS get connected & ORDER your coffee...</h2>
        <p class="lead">
          <%= link_to "Register", new_user_registration_path %> and be part of our community<br><br>
          Step 1: Receive an invite from runner<br>
          Step 2: Click on the invite link and place your order! 
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="../../assets/coffeebtm2-holland.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <!-- <hr class="section-heading-spacer"> -->
        <div class="clearfix"></div>
        <h2 class="section-heading">Our next episodes</h2>
        <p class="lead">Breakfast run? Tea Time run? </p>
        <p class="lead">What would you like your friend to deliver next?<br>Any feedback to share with us? <br><%= link_to "Feedback Now", new_contact_path %> or <%= mail_to "coffee.bersama@gmail.com", "Email Us" %>
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="../../assets/coffeebtm3-macaroons.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- <a  name="contact"></a>

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
          <h2>Connect to Start Bootstrap:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
<!-- /.container -->
<!--</div> -->

<!-- 4-Aug Comment and move the footer section to application.html.erb-->
<!-- Footer -->
<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small" align="center">Copyright &copy; Coffee Together 2015. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer> -->