<div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1>Coffee Together</h1>
          <p class="lead">Connecting coffee lovers...</p>
          
          <br>

          <div class= 'col-md-12 text-center'>

	          <%= link_to "<button id= 'createRun' type='button' class='btn btn-success'>Run!</button>".html_safe, new_run_path %>
	          <%= link_to "<button id= 'createOrder' type='button' class='btn btn-success'>Coffeeme!</button>".html_safe, root_path %>
          </div>
          
        </div>
        
      </div> <!-- /row -->
  
   <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>
      
      </div>
  
  <br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">
  
  <hr>
  
  <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Step 1</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Step 2</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Step 3</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>

    <div class= 'row'>
      <div class= 'col-md-4'>
      <h3>Testimonial 1</h3>
  <blockquote>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis </p>
   <footer>From Another Satisfied Runner!</footer>
   </blockquote>
      </div>
      <div class= 'col-md-4'>
      <h3>Testimonial 2</h3>
  <p>The blockquote element is used to present content from another source:</p>
  <blockquote>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis </p>
   <footer>From Magic Academy</footer>
   </blockquote>
      </div>
      <div class= 'col-md-4'>
      <h3>Testimonial 3</h3>
  <p>The blockquote element is used to present content from another source:</p>
  <blockquote>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.</p>
   <footer>From Code Division</footer>
   </blockquote>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">
                        SIGN UP</h5>
                    <form class="form form-signup" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Email Address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" placeholder="Password" />
                        </div>
                    </div>
                </div>
                <a href="http://www.jquery2dotnet.com" class="btn btn-sm btn-primary btn-block" role="button">
                    SUBMIT</a> </form>
            </div>
        </div>
      </div>
</div>
  
<!-- <div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href="http://www.bootply.com">Template from Bootply</a> &nbsp; ©Copyright 2013 ACME<sup>TM</sup> Brand.</p>
        <br><br>
        </div>
    </div>
</div> -->
