<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-xs-12" style="border-style: solid; border-color: #0000ff;">

		</div>

	</div>
</div>

<div>
 -->
<%#= content_tag :div, class: "order_controller_info", data: {expired: @expired} do %>
<%#end %>
<div class="order-info" data-expired="<%= @expired %>"></div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#menu" aria-controls="home" role="tab" data-toggle="tab">Menu</a></li>
    <li role="presentation"><a href="#orders" aria-controls="profile" role="tab" data-toggle="tab">My Order</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="menu">
    	
    	<br> Click either
			<i class="fa fa-fire fa-2x"></i>   = Hot
			<i class="fa fa-asterisk fa-2x"></i>   = Cold 

			<br> Go to 'My Order' tab to view & submit
			<% if @expired %>
				<p style="color:darkred"> 
							Run has expired, kindly refrain from ordering.
						</p>
			<% end %>
			<br><br>

    	<div class="row">
				<% @hash.each do |item, idetails| %>
				<div class="col-xs-12">
					<h4><%= item %></h4>
				</div><!-- end of item name-->
				<div id="<%= item %>" class="col-xs-12">
					<div class="row">
						<% idetails.each do |size, sdetails| %>
							<div class="col-xs-3"><div class="change-font"><%= size %></div></div>
							<% if sdetails.length == 2 %>
								<div class="col-xs-3"><div class="change-font"><%= sdetails['Hot'] %></div></div>
								<div class="col-xs-3" data-item="<%= item %>" data-price="<%= sdetails['Hot'] %>" data-size="<%= size %>" data-temperature="Hot"><button class="hcbutton"><i class="fa fa-fire fa-2x"></i></button></div>
								<div class="col-xs-3" data-item="<%= item %>" data-price="<%= sdetails['Hot'] %>" data-size="<%= size %>" data-temperature="Cold"><button class="hcbutton"><i class="fa fa-asterisk fa-2x"></i></button></div>
							<% elsif sdetails.length == 1 %>
							<!-- hot no cold-->
								<% if sdetails.has_key?('Hot') %>
									<div class="col-xs-3"><div class="change-font"><%= sdetails['Hot'] %></div></div>
								<div class="col-xs-3" data-item="<%= item %>" data-price="<%= sdetails['Hot'] %>" data-size="<%= size %>" data-temperature="Hot"><button class="hcbutton"><i class="fa fa-fire fa-2x"></i></button></div>
								<div class="col-xs-3" data-item="<%= item %>" data-price="<%= sdetails['Hot'] %>" data-size="<%= size %>" data-temperature="Cold"><button class="hcbutton" disabled><i class="fa fa-asterisk fa-2x remove-color"></i></button></div>
							<!-- no hot with cold-->	
								<% else %>
									<div class="col-xs-3"><div class="change-font"><%= sdetails['Cold'] %></div></div>
								<div class="col-xs-3" data-item="<%= item %>" data-price="<%= sdetails['Cold'] %>" data-size="<%= size %>" data-temperature="Hot"><button class="hcbutton" disabled><i class="fa fa-fire fa-2x remove-color"></i></button></div>
								<div class="col-xs-3" data-item="<%= item %>" data-price="<%= sdetails['Cold'] %>" data-size="<%= size %>" data-temperature="Cold"><button class="hcbutton"><i class="fa fa-asterisk fa-2x"></i></button></div>
								<% end %>	
							<% end %><!-- end of if length == 2-->
						<% end %>
					</div>
				</div><!-- end of details part-->
				<% end %>
			</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="orders">
    	<div class="col-md-4 col-xs-12" >

    		<div class="row">
					<br>
					<div class="col-md-12"><mark>
						<!-- Please do not change this line, hard-coded in application.js -->
						<span id="estimate-total">TOTAL: RM 0.00</span><br>
						<span id="estimate-runner">TOTAL PAY TO RUNNER: RM 0.00</span></mark>
					</div>
				</div>

				<div class="row">
<!-- 			<div class="col-md-12">
					Your Order
					</div> -->
					<p>
					<div class="col-md-12">
						<%= form_for([@run, @order], html: {id: "order-summary"}) do |f| %>
							<%= f.submit "Submit My Order", id: 'btn-submit', class: "btn btn-primary" %>
						<% end %>
					</div>
					</p>
				</div>

			</div>
    </div>
  </div>


<!-- </div> -->