<div id="neworder" class="container">
	<h2>Place My Order</h2>
	<h4>with <%= @run.user.name %><br></h4><br>
<!-- 	Click either
	<i class="fa fa-fire fa-2x"></i>   = Hot
	<i class="fa fa-asterisk fa-2x"></i>   = Cold <br><br> -->
	<%= render 'form' %>
</div>