<!-- <h3>Thank you for ordering with us! :D</h3> -->
<div class="container">
	<div class="row">
	  <div id="store" class="tab-pane fade in active">
	    <div id="store-summary" class= 'container-fluid'>
				<h2>My Order</h2>
				<h4>with <%= @order.run.user.name %> on <%= @order.created_at.strftime("%b %-d") %></h4><br>
				<!-- <table class= 'table table-striped'>
					<thead>
					  <tr>
					  	<th>Item Name</th><td></td>
					  	<th>Size</th><td></td>
					  	<th>Hot/Cold</th><td></td>
					  	<th>Price(RM)</th><td></td>
					  	<th>Quantity</th><td></td>
					  </tr>
					</thead>
					 <tbody>
						<% @store_array.each do |row|%>
						  <tr>
						  	<% row.each do |v| %>
						  	  <td><%= v %><td>
						  	<% end %>
						  </tr>
						<% end %>
					</tbody>
				</table> -->
				<!-- XS COLUMN -->

				<div class= 'row hidden-xs hidden-sm' style= 'font-weight: bold'>
					<div class= 'col-md-2 text-left'>ITEM NAME</div>
					<div class= 'col-md-2'>SIZE</div>
					<div class= 'col-md-2'>HOT/COLD</div>
					<div class= 'col-md-2'>UNIT PRICE (RM)</div>
					<div class= 'col-md-2'>QUANTITY</div>
				</div><hr>
				<% @store_array.each do |row| %>
					<div class='row'>
						<% row.each_with_index do |value, index| %>
							<% if index == 0 %>
								<div class= 'col-md-2 col-xs-12 text-left'>
									<%= value %>
								</div>
							<% end %>
							<% if index == 1 || index == 2 || index == 3 %>
								<div class= 'col-md-2 col-xs-3'>
									<%= value %>
								</div>
							<% end %>
							<% if index == 4 %>
								<div class= 'col-md-2 col-xs-3'>
									<strong><%= value %></strong>
								</div>
							<% end %>
						<% end %>
					</div>
					<hr>
				<% end %>

<!-- 	<div class= 'pull-right'>
				<div>TOTAL PAY TO STORE </div>
				<div class= ''><mark>RM<%= @order.total_store.round(2) %></mark>
				<div>TOTAL PAY TO RUNNER </div>
				<div class= ''><mark>RM<%= @order.total_run.round(2) %></mark>
			</div> -->

			<div class='row'>
				<div class= 'col-md-offset-6 col-md-2'>
					<div style= 'font-weight: bold'>
						<div>TOTAL: </div>
						<div style= 'font-size: 24px'><u><mark>RM <%= number_with_precision(@order.total_store.round(2), precision: 2)%></mark></u>
						</div>
					</div>
				</div>

				<div class= 'col-md-2'>
					<div style= 'font-weight: bold'>
						<div>TOTAL PAY TO RUNNER: </div>
						<div style= 'font-size: 24px'><u><mark>RM <%= number_with_precision(@order.total_run.round(2), precision: 2)%></mark></u>
						</div>
					</div>
				</div>
			</div>
		</div>

	 </div>
	</div>
</div>