<div align="container">
  <div class= 'row'>
    <div class= 'col-md-6 col-md-offset-3'>
      <% flash.each do |key, value| %>
    		<div>
        		<h2><%= value %></h2>
    		</div>
  		<% end %>
		</div>
	</div>
</div>
