<div align="container">
  <div class= 'row'>
    <div class= 'col-md-6 col-md-offset-3'>
      <h2>Your Feedback</h2>

      <%#= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= bootstrap_form_for(@contact) do |f| %>
        <%= f.text_field :name, :required => true %>
        <%= f.email_field :email, :required => true %>
        <%= f.text_area :message, rows: '7', cols:'40', :as => :text, :required => true %>
        <div class= "hidden">
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.submit "Send", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>