
<div class= 'container'>
  <div class= 'row'>
  	<div class= 'col-md-6 col-md-offset-3'>
  		<div class= 'text-center'><h3><%= yield(:header) %></h3></div>
		<%= bootstrap_form_for(@run) do |f| %>
			<%= f.collection_select(:store_id, Store.all, :id, :name) %>
			<%= f.text_field :location, label: "Deliver to", placeholder:"enter office location, building or etc."%>
			<%= f.select :day, ["Today", "Tomorrow"], selected: "Today" %>
			<%= f.time_select :expired_time, ampm: true, selected: Time.zone.now + 60.minutes %>
			Remarks: Once expired, no more new order will be taken. Expected delivery time will be defaulted as 1 hour after this expiry.<br><br>
			<%= f.text_field :remaining, value: 10, label: "Maximum order items to take" %>
			<%= f.submit yield(:submit), class: 'btn btn-primary' %>
		<% end %>
	</div> 
  </div>
</div>
