<div id="ordersummary" class= 'container'>
	<h2>Orders Summary</h2>
	<div class='row'>
		<div class='col-md-6'>
			<h4>Store: <strong><%= @run.store.name %></strong></h4>
			<h4>Remaining of <strong><%= @run.remaining %> order items </strong></h4>
			<% if (Time.now - @run.expired_at) >= 0 %>
				<h4 style="color:darkred">Run expired at <strong><%= @datetime %></strong></h4>
				<!-- <h4 style= 'color: red;'>Run expired!</h4> -->
			<% else %>
				<h4>Run expired at <strong><%= @datetime %></strong></h4>
			<% end %>
		</div>

		<div class='col-md-4'>
			<textarea id= 'message-order' rows= '7' cols= '40'>Hi guys! <%= @run.user.name %> here. I am going to <%= @run.store.name %>. Let me know if you need anything by <%= @datetime %> (Deliver to: <%= @run.location %> at around <%= @delivertime %>). Click link to order => https://coffeetogether.herokuapp.com/?url=<%=@run.url %>
			</textarea>
			<div class= 'span3'>
				<button class='btn btn-primary btn-run' data-clipboard-target='message-order' data-clipboard-text='Default clipboard text from attribute' id='order_clip_button' title='Click me to copy to clipboard.'>
			    	Quick Copy Broadcast Message
			  	</button>
			  After copied, you may paste it to your Whatsapp or Slack group and send it as order invites. View all the orders from the Order Summary.<br><br>
		  </div>		
		</div>
	</div>

	<div>
		<ul class="nav nav-tabs" id= 'summary-tab'>
		  <li class="active"><a data-toggle="tab" href="#store">Order Summary</a></li>
		  <li><a data-toggle="tab" href="#order">Order Details</a></li>
		</ul>
	</div>

	<div class="tab-content">
	  <div id="store" class="tab-pane fade in active">
	    <div id="store-summary" class= 'container-fluid table-responsive '>
				<!-- <h3>Order Summary</h3> --><br>
				<div class= 'row hidden-xs hidden-sm' style= 'font-weight: bold'>
					<div class= 'col-md-2 text-left'>ITEM NAME</div>
					<div class= 'col-md-2'>SIZE</div>
					<div class= 'col-md-2'>HOT/COLD</div>
					<div class= 'col-md-2'>UNIT PRICE (RM)</div>
					<div class= 'col-md-2'>QUANTITY</div>
				</div><hr>
				<% @store_array.each do |row| %>
					<div class='row'>
						<% row.each_with_index do |value, index| %>
							<% if index == 0 %>
								<div class= 'col-md-2 col-xs-12 text-left'>
									<%= value %>
								</div>
							<% end %>
							<% if index == 1 || index == 2 || index == 3 %>
								<div class= 'col-md-2 col-xs-3'>
									<%= value %>
								</div>
							<% end %>
							<% if index == 4 %>
								<div class= 'col-md-2 col-xs-3'>
									<strong><%= value %></strong>
								</div>
							<% end %>
						<% end %>
					</div>
					<hr>
				<% end %>
				<!--
				<table class= 'table table-striped'>
					<thead>
					  <tr>
					  	<th>Item Name</th>
					  	<th>Size</th>
					  	<th>Hot/Cold</th>
					  	<th>Price(RM)</th>
					  	<th>Quantity</th>
					  </tr>
					</thead>
					 <tbody>
						<% @store_array.each do |row|%>
						  <tr>
						  	<% row.each do |v| %>
						  	  <td><%= v %></td>
						  	<% end %>
						  </tr>
						<% end %>
					</tbody>
				</table>

				<div class= 'row'>
					<div class= 'col-xs-2'>Item Name</div>
					<div class= 'col-xs-2'>Size</div>
					<div class= 'col-xs-2'>Hot/Cold</div>
					<div class= 'col-xs-2'>Price(RM)</div>
					<div class= 'col-xs-2'>Quantity</div>
				</div>
				-->
				<!-- XS COLUMN -->
				<!--
				<% @store_array.each do |row| %>
					<div class='row'>
						<% row.each do |v| %>
							<div class= 'col-xs-2'><%= v %></div>
						<% end %>
					</div>
				<% end %>
				-->
			</div>
		
			<div class='row'>
				<div class= 'col-md-offset-8 col-md-4'>
					<div style= 'font-weight: bold'>
						<div>TOTAL PAY TO STORE </div>
						<div style= 'font-size: 24px'><u><mark>RM <%= number_with_precision(@run.orders.sum("total_store").round(2), precision: 2)%></mark></u>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class='row'>
				<div class= 'col-md-2'>
					<%#= link_to "Edit Run".html_safe, edit_run_path(@run), class: 'btn btn-success btn-block' %> 
					<%= link_to "Cancel Run".html_safe, @run, method: :delete, data: {confirm: "All existing orders will be removed. Are you sure to cancel the run?"}, class: 'btn btn-primary btn-block' %>
				</div>
			</div>

	  </div>

	  <div id="order" class="tab-pane fade">
	  	<div id="store-details" class= 'container-fluid table-responsive '>
	  		<!--<div class= 'order-summary table-responsive'>-->
	  		<!-- <h3>Order Details</h3> --><br>
	  		<!--
	  		<table class= 'table table-striped'>
	        	<thead>
	        		<tr>
	        			<th>Item Name</th>
	        			<th>Size</th>
	        			<th>Hot/Cold</th>
	        			<th>User</th>
	        			<th>Amount To Collect (RM)</th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<% @items_array.each do |row| %>
	        			<tr>
	        				<% row.each do |v| %>
	        				  <td><%= v %></td>
	        				<% end %>
	        			</tr>
	        		<% end %>
	        	</tbody>
	        </table> 
	    	-->

		    <!-- XS COLUMN-->
	      <div class= 'row hidden-xs hidden-sm' style= 'font-weight: bold'>
					<div class= 'col-md-2 text-left'>ITEM NAME</div>
					<div class= 'col-md-2'>SIZE</div>
					<div class= 'col-md-2'>HOT/COLD</div>
					<div class= 'col-md-2'>ORDERED BY</div>
					<div class= 'col-md-2'>COLLECT (RM)</div>
				</div><hr>
	      <% @items_array.each do |row| %>
					<div class='row'>
						<% row.each_with_index do |value, index| %>
							<% if index == 0 %>
								<div class= 'col-md-2 col-xs-12 text-left'>
									<%= value %>
								</div>
							<% end %>
							<% if index == 1 || index == 2 || index == 3 || index == 4 %>
								<div class= 'col-md-2 col-xs-3'>
									<%= value %>
								</div>
							<% end %>
						<% end %>
					</div>
					<hr>
				<% end %>
			</div>

			<div class='row'>
				<div class= 'col-md-offset-8 col-md-4'>
					<!-- <div class= 'pull-right' style= 'font-weight: bold'> -->
					<div style= 'font-weight: bold'>
						<div >TOTAL TO COLLECT</div>
						<div style= 'font-size: 24px'> <u><mark>RM <%= number_with_precision(@run.orders.sum("total_run").round(2), precision: 2) %></mark></u>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class='row'>
				<div class= 'col-md-2'>
					<%#= link_to "Edit Run".html_safe, edit_run_path(@run), class: 'btn btn-success btn-block' %>
					<%= link_to "Cancel Run".html_safe, @run, method: :delete, data: {confirm: "All existing orders will be removed. Are you sure to cancel the run?"}, class: 'btn btn-primary btn-block' %>
				</div>
			</div>
	  </div>

	</div>
</div>

<script>
  var linkClip = new ZeroClipboard($("#order_clip_button"));
</script>