// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-section {
    //height: 100%;
    //padding-top: 150px;
    //text-align: center;
    //background: #DADBCF;
    //background: #fff;
}

img {
    max-width: 100%;
    height: auto;      
}

.list-runs {
	margin-top: 10px;
}

.list-orders {
	margin-top: 10px;
}

p {
    padding-top: 10px;
}
