// Place all the styles related to the Runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message-textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 60px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 400px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-container {
	vertical-align: middle;
    display: inline-block;
}

#message-order {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#button-group {
  width: 100%;
  margin-bottom: 15px;
}

#summary-tab{
    color: blue;
}

.nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus{
            color: #555555;
            background-color: red;  
        } 

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

.table-striped {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-run {
    width: 100%;
}

.doubleUnderline {
    text-decoration:underline;
    border-bottom: 1px solid #000;
}

.run {
    padding-top: 20px
}