// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#devise-registrations {
	margin-left: 10px;
}

#devise-sessions {
	margin-left: 10px;
}

#devise-passwords {
	margin-left: 10px;
}

#devise-passwords-change {
	margin-left: 10px;
}