<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coffee Together</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="/" >CoffeeTogether</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <% if user_signed_in? %> 
            <li>
              <a href="/#services">How It Works</a>
            </li>
            <li>
              <a href="/dashboard/index">My Summary</a>
            </li>
          <% else %>
            <li>
              <a href="#services">How It Works</a>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><p class="nav-text">Hi <%= current_user.name %></p></li>       
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>  
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- 4-Aug Added the wrapper for sticky footer -->
  <div id="wrapper">    
    <%= yield %>
  </div>

  <!-- 4-Aug Added the footer to be shown in every pages -->
  <!-- Footer -->
  <footer>
    <div class="container">
      <!-- <ul class="list-inline">
          <li>
              <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
              <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
              <a href="#services">Services</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
              <a href="#contact">Contact</a>
          </li>
      </ul> -->
      <p class="copyright text-muted small" align="center">Copyright &copy; Coffee Together 2015. All Rights Reserved</p>
    </div>
  </footer>

</body>
</html>