<header> 
<nav class="navbar-default navbar-fixed-top">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav navbar-nav">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="/">
       <img alt="Coffee Bersama" src="...">
     </a>
   </div>
 </div>
</div>

</div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
<li><a href="#">About</a></li>
<li><a href="#">HowItWorks?</a></li>
<li><a href="#">Contact</a></li>

    </ul>
 
    <ul class="nav navbar-nav navbar-right">
    <li>
    <% if user_signed_in? %> 
<li>Welcome <%= current_user.email %>!</li>       
<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> </li>  
<% else %>
    <li><%= link_to "Login", new_user_session_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <% end %>
    </li>
    </ul>
   </div>
 </div><!-- /.navbar-collapse -->
</nav><!-- /.container-fluid -->
</header>